<%- include("./Partials/header") %>
        <div class="container">
            <img src="img/error.png" height="300" width="300" >
            <h1>ERROR!</h1>

            <div class="error-para">
                <h2>Reasons may include :</h2>
                <ul>
                    <li>Unauthorised access</li>
                    <li>Page doesn't exist </li>
                </ul>
            </div>

            <p><a href="/start">Try Signing In</a></p>

        </div>
<%- include("./Partials/footer") %>
