<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Fields Page</title>
    </head>
    <body>
        <div>
            <h1>Price of <%= coin %> is $<%= coinPrice %> </h1>
            <form action="/setPrice/showDetails" method="POST">
                <h2>Alert number 1</h2>
                <input type="number" step="0.01" name="price1" id="price1">
                <input type="submit" />
            </form>
        </div>
    </body>
</html>
