<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Fields Page</title>
    </head>
    <body>
        <div>
            <h1>Price of <%= coin %> is <%= coinPrice %> </h1>
            <form action="/setPrice/showDetails" method="POST">
                <input type="text" name="price" id="price">
                <input type="submit" />
            </form>
        </div>
    </body>
</html>
