<%- include("./Partials/header") %>
        <div class="container">
            <img src="img/bellicon.png" width="250" height="270">
            <h1 id="signin">CRYPTO ALERT NOTIFIER</h1>

            <form  action="/start/signin" method="POST">
                <input id="write-bar-email" type="text" name="email" id="email" placeholder="Enter Your Email"required>
                <br>
                <input class=" btn btn-secondary" type="submit" />
            </form>
        </div>
<%- include("./Partials/footer") %>

